name: Action1
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout1
        uses: actions/checkout@v1
      - name: Step2
        run: echo "teste 2"